#---------MODEL---------
MODEL-ID=GPT
ENDPOINT=
API-KEY=
API-VERSION=
DEPLOYMENT-NAME=


#---------TASK---------
# Task is either NER for Named Entity Recognition or RE for Relation Extraction or NERRE for both NER + RE
TASK=RE

NER-ANNOTATIONS=Gene,Disease
RE-ANNOTATIONS=


# true for spanish language prompts + english language prompts, false for only english language prompts
CROSS-LANG=false
# JSON file of the prompts
PROMPT-FILEPATH=./re_prompts.json


#---------DATASET---------
# Dataset id for cleaning, eg: GenoVarDis or TBGA or Variome
DATASET-ID=TBGA

# Eg: ./test_text.tsv
TEXT-FILEPATH=
ANNOTATION-FILEPATH=

TRAIN-TEXT-FILEPATH=
TRAIN-ANNOTATION-FILEPATH=


#---------EVALUATION---------
# GENERATE-BRAT-EVAL-ANNOTATIONS can be set to false if don't need BRAT annotations for Brat-Eval
GENERATE-BRAT-EVAL-ANNOTATIONS=true
BRAT-EVAL-FILEPATH=
# The filepath to this project's root folder eg: /Users/<user_name>/Documents
ROOT-FOLDER-FILEPATH=

# A TSV file
EVAL-FILEPATH=

# Add any note for the eval log
NOTE=
